@charset "UTF-8";
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Black.woff2") format("woff2"), url("../fonts/TTInterfaces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-BlackItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Bold.woff2") format("woff2"), url("../fonts/TTInterfaces-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-BoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraBold.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraLight.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Italic.woff2") format("woff2"), url("../fonts/TTInterfaces-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-LightItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Medium.woff2") format("woff2"), url("../fonts/TTInterfaces-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Light.woff2") format("woff2"), url("../fonts/TTInterfaces-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Regular.woff2") format("woff2"), url("../fonts/TTInterfaces-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-SemiBold.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-MediumItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-SemiBoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Thin.woff2") format("woff2"), url("../fonts/TTInterfaces-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ThinItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-hand:before {
  content: "\e900";
}

._icon-platform:before {
  content: "\e901";
  color: #ff8a00;
}

._icon-plenty:before {
  content: "\e902";
  color: #ff8a00;
}

._icon-cards:before {
  content: "\e903";
  color: #ff8a00;
}

._icon-chat:before {
  content: "\e904";
  color: #ff8a00;
}

._icon-check:before {
  content: "\e905";
  color: #ff8a00;
}

._icon-dollar:before {
  content: "\e906";
  color: #ff8a00;
}

::-webkit-scrollbar {
  width: 12px;
  height: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #faf8f5;
  box-shadow: 4px 1px 8px -2px rgba(34, 60, 80, 0.2) inset;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #303030, #ffa943);
  border-radius: 15px;
  border: 2px solid #faf8f5;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #303030b6, #ffaa43a8);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #404040;
  line-height: 1;
  font-family: "TTInterfaces";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTInterfaces";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 74.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 2.5rem;
  padding-bottom: 4.375rem;
  width: 100%;
  max-width: 900px;
  border-radius: 5px;
  position: relative;
}
@media (max-width: 47.99875em) {
  .popup__content {
    padding: 1.875rem;
  }
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 1.5625rem;
  right: 1.5625rem;
  width: 1.625rem;
  height: 1.625rem;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 29.99875em) {
  .popup__close {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}

.popup__text {
  max-width: 29.375rem;
  margin: 0 auto;
}
.popup__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2666666667;
  color: #000;
  margin-bottom: 0.5rem;
}
.popup__subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #8a8a8a;
  margin-bottom: 2.5rem;
}
.popup__link {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  color: #8a8a8a;
  text-align: center;
  margin-top: 1.75rem;
}
.popup__link span {
  color: #ff7b43;
}
@media (any-hover: hover) {
  .popup__link {
    transition: color 0.3s ease 0s;
  }
  .popup__link:hover {
    color: #ff7b43;
  }
}
.popup__or {
  margin: 1.75rem 0;
  text-align: center;
  color: #b5b5c3;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  font-weight: 600;
  text-transform: uppercase;
}
.popup__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem 0;
  background: rgba(208, 208, 208, 0.12);
  border-radius: 5px;
}
.popup__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.popup__item p {
  color: #7e8299;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.4705882353;
}
.popup__item img {
  width: 1.875rem;
  height: 1.875rem;
  object-fit: cover;
}
@media (any-hover: hover) {
  .popup__item {
    transition: background-color 0.3s ease 0s;
  }
  .popup__item:hover {
    background-color: rgba(208, 208, 208, 0.767);
  }
}

.form-popup__item:not(:last-child) {
  margin-bottom: 1.875rem;
}
.form-popup__input {
  display: block;
  width: 100%;
  background: rgba(208, 208, 208, 0.12);
  border-radius: 5px;
  min-height: 3.6875rem;
  margin-top: 1.125rem;
  padding-left: 1.5625rem;
  font-size: 1.125rem;
}
.form-popup__button {
  display: block;
  max-width: none;
  width: 100%;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
}
.form-popup__item-wrapper {
  display: flex;
  justify-content: space-between;
}
.form-popup__item-wrapper a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  color: #ff7b43;
}
@media (any-hover: hover) {
  .form-popup__item-wrapper a {
    transition: transform 0.3s ease 0s;
  }
  .form-popup__item-wrapper a:hover {
    transform: translate(0px, -3px);
  }
}
.form-popup__label {
  font-weight: 600;
  color: #000;
  font-size: 1rem;
  line-height: 1.25;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6875rem 1.4375rem;
  background: linear-gradient(82.06deg, #ff7b43 -4.87%, #ffde31 142.53%);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .button {
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  }
  .button:hover {
    transform: translate(0px, -4px);
    opacity: 0.9;
  }
}

@media (min-width: 49.125em) {
  .padding {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 49.125em) {
  @supports (padding-top: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem )) {
    .padding {
      padding-top: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem )) {
    .padding {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 29.125);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-top: 2.5rem;
  }
}
@media (min-width: 49.125em) {
  .padding {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 49.125em) {
  @supports (padding-bottom: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem )) {
    .padding {
      padding-bottom: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 0.7832618026rem  +  8.5836909871vw , 5rem )) {
    .padding {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 29.125);
    }
  }
}
@media (max-width: 20em) {
  .padding {
    padding-bottom: 2.5rem;
  }
}

.title {
  color: #404040;
  font-weight: 800;
  line-height: 1.2777777778;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  .title {
    font-size: 2.25rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (font-size: clamp( 1.5625rem , 0.7584745763rem  +  3.1073446328vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.5625rem , 0.7584745763rem  +  3.1073446328vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 0.7584745763rem  +  3.1073446328vw , 2.25rem )) {
    .title {
      font-size: calc(1.5625rem + 0.6875 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .title {
    font-size: 1.5625rem;
  }
}
.title span {
  background: linear-gradient(90deg, #303030 50%, #ffa943);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.scale._watcher-view {
  transform: scale(1);
  opacity: 1;
}

.appearence {
  opacity: 0;
  transition: all 1.5s ease 0s;
}
.appearence._watcher-view {
  opacity: 1;
}

.move-left {
  transform: translate(-100%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.move-left._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-right {
  transform: translate(100%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.move-right._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-top {
  transform: translate(0, -150%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.move-top._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.move-bottom {
  transform: translate(0, 150%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.move-bottom._watcher-view {
  opacity: 1;
  transform: translate(0px, 0px);
}

.header {
  padding: 1.75rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s, background-color 0.3s ease 0s;
}
@media (max-width: 52.5em) {
  .header {
    padding: 1.25rem 0;
    min-height: 70px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__authorization {
  color: #ff7b43;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  background-color: #ff7b434d;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.3125rem 1.625rem;
  border-radius: 5px;
}
@media (any-hover: hover) {
  .header__authorization {
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  }
  .header__authorization:hover {
    color: #fff;
    background-color: #ff7b43;
  }
}
@media (max-width: 52.5em) {
  .header__authorization {
    text-transform: uppercase;
  }
}
@media (max-width: 52.5em) {
  .header__authorization-1 {
    display: none;
  }
}

._header-scroll {
  padding: 0.875rem 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.menu__buttons {
  display: none;
}
@media (max-width: 52.5em) {
  .menu__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.1875rem;
  }
}
.menu__button:not(:last-child) {
  margin-bottom: 1.375rem;
}
.menu__button a {
  display: flex;
  margin: 0 auto;
  max-width: 15rem;
}
@media (max-width: 52.5em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    overflow: auto;
    padding-bottom: 3.125rem;
    transition: left 0.4s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 5.625rem;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transition: background-color 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    background-color: #fff;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
@media (min-width: 120em) {
  .menu__list {
    column-gap: 4.6875rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem )) {
    .menu__list {
      column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem )) {
    .menu__list {
      column-gap: calc(0.625rem + 4.0625 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 52.5em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-top: 7.5rem;
    background-color: #fff;
  }
}
@media (any-hover: hover) {
  .menu__item {
    position: relative;
  }
  .menu__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -3px;
    left: 50%;
    background-color: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .menu__item:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }
}
@media (max-width: 52.5em) {
  .menu__item {
    border-bottom: 1px solid #ff8a00;
    padding-bottom: 1.25rem;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.menu__item:nth-child(1) {
  transition: all 0.3s ease 0s;
}
.menu__item:nth-child(2) {
  transition: all 0.3s ease 0.2s;
}
.menu__item:nth-child(3) {
  transition: all 0.3s ease 0.3s;
}
.menu__item:nth-child(4) {
  transition: all 0.3s ease 0.4s;
}
.menu__link {
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 52.5em) {
  .menu__link {
    color: #000;
    text-align: left;
    font-weight: 600;
    font-size: 1.0625rem;
  }
}

.logo-header {
  display: flex;
  align-items: flex-end;
  column-gap: 0.625rem;
  position: relative;
  z-index: 5;
}
.logo-header__image {
  max-width: 100%;
  max-height: 2.8125rem;
  object-fit: cover;
}
.logo-header__text {
  color: #ffde31;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2666666667;
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
  background: linear-gradient(45deg, #ff7b43, #ffde31);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .logo-header:hover .logo-header__text {
    transform: translate(10px, 0px);
  }
}
@media (max-width: 29.99875em) {
  .logo-header {
    flex: 1 1 auto;
    margin-left: 4.375rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 52.5em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background: rgba(24, 28, 50, 0.42);
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #070707;
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.625rem;
  margin-bottom: 1.875rem;
}
@media (min-width: 120em) {
  .footer__list {
    column-gap: 4.6875rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 1.25rem , -1.0416666667rem  +  4.7743055556vw , 4.6875rem )) {
    .footer__list {
      column-gap: clamp( 1.25rem , -1.0416666667rem  +  4.7743055556vw , 4.6875rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , -1.0416666667rem  +  4.7743055556vw , 4.6875rem )) {
    .footer__list {
      column-gap: calc(1.25rem + 3.4375 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .footer__list {
    column-gap: 1.25rem;
  }
}
@media (max-width: 34.375em) {
  .footer__list {
    display: none;
  }
}
@media (any-hover: hover) {
  .footer__item {
    position: relative;
  }
  .footer__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -3px;
    left: 50%;
    background-color: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .footer__item:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }
}
.footer__item:nth-child(1) {
  transition: all 0.3s ease 0s;
}
.footer__item:nth-child(2) {
  transition: all 0.3s ease 0.2s;
}
.footer__item:nth-child(3) {
  transition: all 0.3s ease 0.3s;
}
.footer__item:nth-child(4) {
  transition: all 0.3s ease 0.4s;
}
.footer__link {
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  font-weight: 700;
  color: #fff;
}
.footer__text {
  color: #777777;
  font-size: 0.625rem;
  line-height: 1.2;
  text-align: justify;
  max-width: 38.125rem;
  margin: 0 auto;
  margin-bottom: 0.625rem;
}
.footer__copyright {
  color: #777777;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.footer .logo-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 0.625rem;
  margin-bottom: 2.1875rem;
  position: relative;
  z-index: 2;
}
.footer .logo-header__image {
  max-width: 100%;
  max-height: 2.8125rem;
  object-fit: cover;
}
.footer .logo-header__text {
  color: #ffde31;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2666666667;
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
  background: linear-gradient(45deg, #ff7b43, #ffde31);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer .logo-header:hover .logo-header__text {
    transform: translate(10px, 0px);
  }
}
@media (max-width: 29.99875em) {
  .footer .logo-header {
    flex: 1 1 auto;
    margin-left: 0;
  }
}

.intro {
  position: relative;
}
@media (min-width: 48em) {
  .intro {
    padding-top: 13.125rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (padding-top: clamp( 7.5rem , 0.9216101695rem  +  25.4237288136vw , 13.125rem )) {
    .intro {
      padding-top: clamp( 7.5rem , 0.9216101695rem  +  25.4237288136vw , 13.125rem );
    }
  }
  @supports not (padding-top: clamp( 7.5rem , 0.9216101695rem  +  25.4237288136vw , 13.125rem )) {
    .intro {
      padding-top: calc(7.5rem + 5.625 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .intro {
    padding-top: 7.5rem;
  }
}
@media (min-width: 48em) {
  .intro {
    padding-bottom: 13.125rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (padding-bottom: clamp( 3.125rem , -8.5699152542rem  +  45.197740113vw , 13.125rem )) {
    .intro {
      padding-bottom: clamp( 3.125rem , -8.5699152542rem  +  45.197740113vw , 13.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 3.125rem , -8.5699152542rem  +  45.197740113vw , 13.125rem )) {
    .intro {
      padding-bottom: calc(3.125rem + 10 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .intro {
    padding-bottom: 3.125rem;
  }
}
.intro__background img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
}
.intro__background::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 2;
  opacity: 0.9;
}
.intro__body {
  position: relative;
  z-index: 3;
  display: flex;
}
.intro__text {
  flex: 0 0 54.6218487395%;
}
@media (max-width: 47.99875em) {
  .intro__text {
    flex: 1 1 auto;
    text-align: center;
  }
}
.intro__suptitle {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0.625rem;
}
.intro__title {
  font-weight: 800;
  font-size: 3.5rem;
  color: #fff;
  position: relative;
}
@media (min-width: 48em) {
  .intro__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (font-size: clamp( 1.875rem , -0.0254237288rem  +  7.3446327684vw , 3.5rem )) {
    .intro__title {
      font-size: clamp( 1.875rem , -0.0254237288rem  +  7.3446327684vw , 3.5rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , -0.0254237288rem  +  7.3446327684vw , 3.5rem )) {
    .intro__title {
      font-size: calc(1.875rem + 1.625 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .intro__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 48em) {
  .intro__title {
    margin-bottom: 1.375rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 0.8125rem , 0.1546610169rem  +  2.5423728814vw , 1.375rem )) {
    .intro__title {
      margin-bottom: clamp( 0.8125rem , 0.1546610169rem  +  2.5423728814vw , 1.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.8125rem , 0.1546610169rem  +  2.5423728814vw , 1.375rem )) {
    .intro__title {
      margin-bottom: calc(0.8125rem + 0.5625 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .intro__title {
    margin-bottom: 0.8125rem;
  }
}
.intro__title::before {
  background: linear-gradient(138.63deg, #ff7b43 5.38%, #ffde31 87.47%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 0;
  right: 160px;
}
@media (max-width: 65em) {
  .intro__title::before {
    right: 120px;
  }
}
@media (max-width: 60em) {
  .intro__title::before {
    right: 100px;
  }
}
@media (max-width: 58.125em) {
  .intro__title::before {
    right: 80px;
  }
}
@media (max-width: 55em) {
  .intro__title::before {
    right: 60px;
  }
}
@media (max-width: 53.125em) {
  .intro__title::before {
    right: 40px;
  }
}
@media (max-width: 50.625em) {
  .intro__title::before {
    right: 10px;
  }
}
@media (max-width: 47.99875em) {
  .intro__title::before {
    right: 100px;
  }
}
@media (max-width: 36.25em) {
  .intro__title::before {
    right: 40px;
  }
}
@media (max-width: 30em) {
  .intro__title::before {
    right: 10px;
  }
}
.intro__subtitle {
  font-size: 1.0625rem;
  line-height: 1.2352941176;
  color: #ffffffe5;
  margin-bottom: 3.125rem;
  max-width: 29.375rem;
}
@media (max-width: 47.99875em) {
  .intro__subtitle {
    margin: 0 auto;
    margin-bottom: 3.125rem;
  }
}
.intro__image {
  position: relative;
  flex: 0 0 47.0588235294%;
}
@media (max-width: 47.99875em) {
  .intro__image {
    display: none;
  }
}
.intro__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
}
.intro .header__authorization {
  display: none;
}
@media (max-width: 47.99875em) {
  .intro .header__authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6875rem 1.4375rem;
    border-radius: 5px;
    max-width: 14.375rem;
    margin: 0 auto;
    margin-top: 1.375rem;
    color: #ff7b43;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.2666666667;
    text-transform: uppercase;
  }
}
@media (max-width: 47.99875em) and (any-hover: hover) {
  .intro .header__authorization:hover {
    color: #fff;
  }
}

.benefits {
  background-color: #f3f3f3;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}
@media (min-width: 49.125em) {
  .benefits {
    padding-top: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 49.125em) {
  @supports (padding-top: clamp( 2.5rem , -1.3626609442rem  +  19.313304721vw , 8.125rem )) {
    .benefits {
      padding-top: clamp( 2.5rem , -1.3626609442rem  +  19.313304721vw , 8.125rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -1.3626609442rem  +  19.313304721vw , 8.125rem )) {
    .benefits {
      padding-top: calc(2.5rem + 5.625 * (100vw - 20rem) / 29.125);
    }
  }
}
@media (max-width: 20em) {
  .benefits {
    padding-top: 2.5rem;
  }
}
.benefits__title {
  text-align: center;
}
@media (min-width: 48em) {
  .benefits__title {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 25.875em) and (max-width: 48em) {
  @supports (margin-bottom: clamp( 2.5rem , 0.1610169492rem  +  9.0395480226vw , 4.5rem )) {
    .benefits__title {
      margin-bottom: clamp( 2.5rem , 0.1610169492rem  +  9.0395480226vw , 4.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 0.1610169492rem  +  9.0395480226vw , 4.5rem )) {
    .benefits__title {
      margin-bottom: calc(2.5rem + 2 * (100vw - 25.875rem) / 22.125);
    }
  }
}
@media (max-width: 25.875em) {
  .benefits__title {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 29.99875em) {
  .benefits__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}

.card-benefits {
  text-align: center;
  position: relative;
  padding: 1.875rem 2.5rem;
}
@media (max-width: 29.99875em) {
  .card-benefits:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.card-benefits__image {
  position: relative;
  min-height: 6.25rem;
  margin-bottom: 0.625rem;
}
.card-benefits__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: scale-down;
}
.card-benefits__image::before {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  font-size: 2.1875rem;
}
.card-benefits__title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 0.625rem;
}
.card-benefits__text {
  color: #8a8a8a;
  font-size: 1.0625rem;
  line-height: 1.2352941176;
  max-width: 18.125rem;
  margin: 0 auto;
}
.card-benefits::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.04);
  z-index: -1;
}
.card-benefits._watcher-view:nth-child(1) {
  transition: all 0.3s ease 0s;
}
.card-benefits._watcher-view:nth-child(2) {
  transition: all 0.3s ease 0.2s;
}
.card-benefits._watcher-view:nth-child(3) {
  transition: all 0.3s ease 0.3s;
}
.card-benefits._watcher-view:nth-child(4) {
  transition: all 0.3s ease 0.4s;
}
.card-benefits._watcher-view:nth-child(5) {
  transition: all 0.3s ease 0.5s;
}

.about__body {
  display: flex;
}
@media (min-width: 120em) {
  .about__body {
    column-gap: 3.125rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 1.25rem , 0rem  +  2.6041666667vw , 3.125rem )) {
    .about__body {
      column-gap: clamp( 1.25rem , 0rem  +  2.6041666667vw , 3.125rem );
    }
  }
  @supports not (column-gap: clamp( 1.25rem , 0rem  +  2.6041666667vw , 3.125rem )) {
    .about__body {
      column-gap: calc(1.25rem + 1.875 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .about__body {
    column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .about__body {
    flex-direction: column;
  }
}
.about__text {
  flex: 1 1 46.218487395%;
}
.about__subtext {
  font-size: 1.0625rem;
  line-height: 1.2352941176;
  text-align: justify;
  color: #8a8a8a;
  margin-bottom: 4rem;
}
.about__subtext a {
  color: #ff7b43;
}
@media (any-hover: hover) {
  .about__subtext a {
    transition: color 0.3s ease 0s;
  }
  .about__subtext a:hover {
    color: #ff7b43b9;
  }
}
@media (max-width: 47.99875em) {
  .about__subtext {
    margin-bottom: 0;
  }
}
.about__title {
  position: relative;
  margin-bottom: 3.4375rem;
  max-width: 34.375rem;
}
.about__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 15rem;
  height: 0.1875rem;
  bottom: -1.6875rem;
  left: 0;
  background: linear-gradient(90deg, #ff7b43, #ffde31);
}
.about .title span {
  background: linear-gradient(-170deg, #303030 40%, #ffa943);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__buttons {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .about__buttons {
    justify-content: center;
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) {
  .about__buttons {
    margin-top: 5.625rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
  @supports (margin-top: clamp( 2.8125rem , 0.8035714286rem  +  10.0446428571vw , 5.625rem )) {
    .about__buttons {
      margin-top: clamp( 2.8125rem , 0.8035714286rem  +  10.0446428571vw , 5.625rem );
    }
  }
  @supports not (margin-top: clamp( 2.8125rem , 0.8035714286rem  +  10.0446428571vw , 5.625rem )) {
    .about__buttons {
      margin-top: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .about__buttons {
    margin-top: 2.8125rem;
  }
}
@media (max-width: 47.99875em) {
  .about__buttons {
    margin-top: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .about__buttons {
    gap: 1.25rem;
  }
}
.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  color: #ff7b43;
  position: relative;
}
.about__button::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -0.0625rem;
  left: 0;
  height: 0.0625rem;
  background-color: #ff7b43;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .about__button {
    transition: color 0.3s ease 0s;
  }
  .about__button:hover {
    color: #ff7b43b9;
  }
  .about__button:hover::before {
    background-color: #ff7b43b9;
  }
}
@media (max-width: 29.99875em) {
  .about__button {
    font-size: 0.75rem;
  }
}
@media (max-width: 29.99875em) {
  .about .button {
    font-size: 0.75rem;
  }
}
.about__image {
  flex: 1 1 55.0420168067%;
  position: relative;
  top: 1.25rem;
}
@media (max-width: 47.99875em) {
  .about__image {
    min-height: 20rem;
    margin-top: 0.625rem;
  }
}
.about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

.achievements {
  background-color: #f3f3f3;
  padding-top: 3.75rem;
}
@media (max-width: 65.625em) {
  .achievements {
    padding-bottom: 1.5625rem;
  }
}
.achievements__title {
  text-align: center;
  max-width: 36.25rem;
  margin: 0 auto;
  margin-bottom: 4.375rem;
}
.achievements__cards {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
@media (max-width: 65.625em) {
  .achievements__cards {
    flex-direction: column;
  }
}

.card-achievements {
  flex: 1 1 33.333%;
  padding: 0 0.625rem;
  padding-bottom: 1.25rem;
  padding-top: 7.5rem;
  color: #daad55;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #070707;
}
.card-achievements__year {
  font-size: 3.4375rem;
  line-height: 1.2363636364;
  position: relative;
}
.card-achievements__year::before {
  content: "";
  display: block;
  position: absolute;
  top: 5.625rem;
  left: 25%;
  height: 3.1875rem;
  width: 3.1875rem;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-achievements__title {
  font-size: 1.5625rem;
  line-height: 1.2;
  text-align: center;
  max-width: 9.375rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  position: relative;
}
.card-achievements__title::before {
  content: "";
  display: block;
  position: absolute;
  top: -60%;
  left: -40%;
  height: 14.6875rem;
  width: 17.125rem;
  background-image: url("../img/achievement.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-achievements__subtitle {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0.625rem;
}

@media (max-width: 65.625em) {
  .card-achievements-1 {
    order: 2;
  }

  .card-achievements-2 {
    order: 1;
  }

  .card-achievements-3 {
    order: 3;
  }
}
@media (min-width: 65.625em) {
  .card-achievements-1 {
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  }

  .card-achievements-3 {
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  }
}
.card-achievements-2 {
  clip-path: polygon(50% 0, 50% 0, 100% 30%, 100% 100%, 0 100%, 0 30%);
}

.card-achievements-2 .card-achievements__title {
  margin-top: 4.375rem;
}

.card-achievements-2 .card-achievements__year::before {
  top: -5rem;
}

.card-achievements-1 .card-achievements__title._watcher-view,
.card-achievements-3 .card-achievements__title._watcher-view {
  transform: scale(0.7);
}

@media (max-width: 29.99875em) {
  .card-achievements-2 .card-achievements__title._watcher-view {
    transform: scale(0.7);
  }
}
@media (max-width: 65.625em) {
  .card-achievements-1,
.card-achievements-3 {
    padding-top: 1.25rem;
  }
}
