@charset "UTF-8";
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Black.woff2") format("woff2"), url("../fonts/TTInterfaces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-BlackItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Bold.woff2") format("woff2"), url("../fonts/TTInterfaces-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-BoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraBold.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraLight.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Italic.woff2") format("woff2"), url("../fonts/TTInterfaces-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-LightItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Medium.woff2") format("woff2"), url("../fonts/TTInterfaces-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Light.woff2") format("woff2"), url("../fonts/TTInterfaces-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Regular.woff2") format("woff2"), url("../fonts/TTInterfaces-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-SemiBold.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-MediumItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-SemiBoldItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Thin.woff2") format("woff2"), url("../fonts/TTInterfaces-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ThinItalic.woff2") format("woff2"), url("../fonts/TTInterfaces-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-hand:before {
  content: "\e900";
}

._icon-platform:before {
  content: "\e901";
  color: #ff8a00;
}

._icon-plenty:before {
  content: "\e902";
  color: #ff8a00;
}

._icon-cards:before {
  content: "\e903";
  color: #ff8a00;
}

._icon-chat:before {
  content: "\e904";
  color: #ff8a00;
}

._icon-check:before {
  content: "\e905";
  color: #ff8a00;
}

._icon-dollar:before {
  content: "\e906";
  color: #ff8a00;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #404040;
  line-height: 1;
  font-family: "TTInterfaces";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "TTInterfaces";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 74.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6875rem 1.4375rem;
  background: linear-gradient(82.06deg, #ff7b43 -4.87%, #ffde31 142.53%);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .button {
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  }
  .button:hover {
    transform: translate(0px, -4px);
    opacity: 0.9;
  }
}

.header {
  background-color: #000;
  padding: 1.75rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 52.5em) {
  .header {
    padding: 1.25rem 0;
    min-height: 70px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__authorization {
  color: #ff7b43;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  background-color: #ff7b434d;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.3125rem 1.625rem;
  border-radius: 5px;
}
@media (any-hover: hover) {
  .header__authorization {
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  }
  .header__authorization:hover {
    color: #fff;
    background-color: #ff7b43;
  }
}
@media (max-width: 52.5em) {
  .header__authorization {
    text-transform: uppercase;
  }
}
@media (max-width: 52.5em) {
  .header__authorization-1 {
    display: none;
  }
}

.menu__buttons {
  display: none;
}
@media (max-width: 52.5em) {
  .menu__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.1875rem;
  }
}
.menu__button:not(:last-child) {
  margin-bottom: 1.375rem;
}
.menu__button a {
  display: flex;
  margin: 0 auto;
  max-width: 15rem;
}
@media (max-width: 52.5em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding-bottom: 3.125rem;
    transition: left 0.4s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 5.625rem;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transition: background-color 0.3s ease 0s;
  }
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    background-color: #fff;
  }
}
.menu__list {
  display: flex;
}
@media (min-width: 120em) {
  .menu__list {
    column-gap: 4.6875rem;
  }
}
@media (min-width: 48em) and (max-width: 120em) {
  @supports (column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem )) {
    .menu__list {
      column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem );
    }
  }
  @supports not (column-gap: clamp( 0.625rem , -2.0833333333rem  +  5.6423611111vw , 4.6875rem )) {
    .menu__list {
      column-gap: calc(0.625rem + 4.0625 * (100vw - 48rem) / 72);
    }
  }
}
@media (max-width: 48em) {
  .menu__list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 52.5em) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-top: 7.5rem;
    background-color: #fff;
  }
}
@media (any-hover: hover) {
  .menu__item {
    position: relative;
  }
  .menu__item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -3px;
    left: 50%;
    background-color: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .menu__item:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }
}
@media (max-width: 52.5em) {
  .menu__item {
    border-bottom: 1px solid #ff8a00;
    padding-bottom: 1.25rem;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.menu__link {
  font-size: 0.9375rem;
  line-height: 1.2666666667;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 52.5em) {
  .menu__link {
    color: #000;
    text-align: left;
    font-weight: 600;
    font-size: 1.0625rem;
  }
}

.logo-header {
  display: flex;
  align-items: flex-end;
  column-gap: 0.625rem;
  position: relative;
  z-index: 5;
}
.logo-header__image {
  max-width: 100%;
  max-height: 2.8125rem;
  object-fit: cover;
}
.logo-header__text {
  color: #ffde31;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.2666666667;
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
  background: linear-gradient(45deg, #ff7b43, #ffde31);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease 0s;
}
@media (any-hover: hover) {
  .logo-header:hover .logo-header__text {
    transform: translate(10px, 0px);
  }
}
@media (max-width: 29.99875em) {
  .logo-header {
    flex: 1 1 auto;
    margin-left: 4.375rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 52.5em) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background: rgba(24, 28, 50, 0.42);
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}
